*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;

}
body{
    background-image: url(./images/background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    overflow:hidden;

}
.container{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
    z-index: 1;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}



#card{

        display:flex;
        flex-direction: column;
        gap:20px;
        text-align: center;
        padding: 3em;
        z-index: 1;
        position: relative;
        border-radius: 10px;
        border: 1px solid black;
        transform-style: preserve-3d;
        top: 0;
        width:90%;


}

#btn{
    
    border-radius:5px;
    width:100px;
    color:white;
    background:black;
    border:none;
    padding:10px;
    font-weight: bold;
}
#btn:hover{
    background:rgb(102, 95, 95);
}

.poke-img{
    width: 100%;
    height: 200px;
    position:relative;
    transform: translateZ(50px);
    transition: 1s ease-in-out;
    
}
.poke-img:hover{
    transform: scale(1.2);
}
.hp{
    text-align: center;
    width: 100%;
    font-weight:bold;
    background:white;
    width:50px;
    position:relative;
    left:70%;
    border-radius: 10px;
    padding:2px;
    font-size:0.7rem;
    transform: translateZ(50px);
    
    
}
.poke-name{
    font-size:2em;
    transform: translateZ(50px);
}
.stats{
    display: flex;
    gap: 1em;
    justify-content: center;
    padding-top: 5px;
    font-weight: bold;
    padding-top: 5px;
    font-size: 1.6em;
    bottom: 1;
    width: 100%;
    position:relative;
    transform: translateZ(50px);
}
.types{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin:0;
    padding-top:5px;
    font-size:1em;
    transform: translateZ(50px);
}


/*Media Queries*/
@media only screen and (max-width: 400px) {
    #card{
    padding:2em;
    }
    .stats{
        font-size:1.2em;
    }
}
