*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;

}
body{
    background-image: url(./images/background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;

}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: url(./images/gameboy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 1;
}
.top{
    margin: 1em auto;
    display: flex;
    align-items: center;
    height: 50%;
}
.bottom{
    width:100%;
    height:50%;

}
#card{
    margin: 0 auto;
    text-align: center;
    padding:0.8em;
    z-index: 1;
    position: relative;
    border-radius:10px;
    border:1px solid black;
    transform-style:preserve-3d;
}

#btn{
    position:absolute;
    bottom:15%;
    right:48%;
    border-radius:5px;
    width:100px;
    color:white;
    background:black;
    border:none;
    padding:10px;
    font-weight: bold;
}
#btn:hover{
    background:rgb(102, 95, 95);
}

.poke-img{
    width:100px;
    height:50px;
    position:relative;
    transform: translateZ(50px);
    transition: 1s ease-in-out;
    
}
.poke-img:hover{
    transform: scale(1.5);
}
.hp{
    text-align: center;
    width: 100%;
    font-weight:bold;
    background:white;
    width:50px;
    position:relative;
    left:70%;
    border-radius: 10px;
    padding:2px;
    font-size:0.7rem;
    
    
}
.poke-name{
    font-size:1em;
    transform: translateZ(50px);
}
.stats{
    display:flex;
    gap:1em;
    justify-content:center;
    padding-top:5px;
    font-weight:bold;
    padding-top:5px;
    font-size:0.7em;
}
.types{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin:0;
    padding-top:5px;
    font-size:0.5em;

}
@media only screen and (max-width: 400px) {
    #card{
        top:8%;
    }
  }